{{> header title="Страница не найдена..."}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Страница не найдена...</li>
    </ul>
</div>

<div class="error-page">
	<div class="container">

		<div class="error-page__row row">
			<div class="error-page__img-wrap col-lg-6">
				<img src="assets/img/content/404.png" alt="alt" class="error-page__img img-responsive mouse-parallax">
			</div>
			<div class="error-page__content-wrap col-lg-6">
				<div class="error-page__content">
					<div class="error-page__title">Упс...</div>
					<div class="error-page__text-wrap">мы опросили каждого серфера на побережье, но никто из них не знает куда уплыла эта страница</div>
					<a href="#" class="error-page__btn btn btn-accent"><span>Перейти в каталог</span></a>
					<img src="assets/img/content/light_404.png" alt="alt" class="error-page__light">
				</div>
			</div>
		</div>

	</div>
</div>

{{> footer }}