{{> header title="О бренде"}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>О бренде</li>
    </ul>
</div>

<section class="section-about">
    <div class="container">

		<div class="page-headline row">
			<div class="page-headline__captions col-md-4">
				<h2 class="page-headline__title page-title">О бренде</h2>
				<img src="assets/img/icons/wave-about.svg" alt="alt" class="page-headline__wave img-responsive">
			</div>
			<div class="page-headline__content col-md-8">
				<div class="page-headline__text-wrap">
					<p>WAVE HARMONY международная компания созданная в 2014 году. На сегодняшний день наша основная<br> специализация — производство одежды для серфинга и других видов водного спорта. Мы сами занимаемся серфингом и не понаслышке знаем, как важна комфортная и практичная одежда, поэтому мы предлагаем вам:</p>
				</div>
			</div>
		</div>

        <div class="about-cards row">
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Европейское качество</div>
                    <div class="card-about__text-wrap">
                        <p>Для вашего комфорта и максимальной безопасности, мы используем ткани европейского образца с плотностью<br> 1,1 — 1,3 г/см</p>
                    </div>
                </div>
            </div>
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Фурнитура от SBS</div>
                    <div class="card-about__text-wrap">
                        <p>SBS является лидером на мировом рынке инновационных соединительных технологий и гарантирует более 20 тыс. циклов открытия и закрытия молнии</p>
                    </div>
                </div>
            </div>
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Идеальны во всем</div>
                    <div class="card-about__text-wrap">
                        <p>Купальники не бояться соли и хлорки, эластичны, устойчивы к повреждениям, отлично садятся по фигуре и не теряют своей изначальной красоты</p>
                    </div>
                </div>
            </div>
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Европейское качество</div>
                    <div class="card-about__text-wrap">
                        <p>Для вашего комфорта и максимальной безопасности, мы используем ткани европейского образца с плотностью 1,1 — 1,3 г/см</p>
                    </div>
                </div>
            </div>
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Фурнитура от SBS</div>
                    <div class="card-about__text-wrap">
                        <p>SBS является лидером на мировом рынке инновационных соединительных технологий и гарантирует более 20 тыс. циклов открытия и закрытия молнии</p>
                    </div>
                </div>
            </div>
            <div class="about-cards__card card-about col-xl-4 col-md-6">
                <div class="card-about__inner">
                    <div class="card-about__title">Идеальны во всем</div>
                    <div class="card-about__text-wrap">
                        <p>Купальники не бояться соли и хлорки, эластичны, устойчивы к повреждениям, отлично садятся по фигуре и не теряют своей изначальной красоты</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section-reviews">
	<div class="container">

		<div class="page-headline row">
			<div class="page-headline__captions col-md-12">
				<h2 class="page-headline__title page-title">Нам доверяют</h2>
				<img src="assets/img/icons/wave-reviews.svg" alt="alt" class="page-headline__wave img-responsive">
			</div>
		</div>

		<div class="reviews-slider">
			<div class="reviews-slider__thumbs thumbs-reviews swiper slider">
				<div class="thumbs-reviews__items swiper-wrapper">
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_1_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_2_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_3_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_4_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_1_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_2_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
				</div>
				<div class="thumbs-reviews__scrollbar swiper-scrollbar"></div>
			</div>
			<div class="reviews-slider__main main-reviews swiper slider">
				<div class="main-reviews__items swiper-wrapper">
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 1</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 2</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 3</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 4</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 5</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img data-src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive swiper-lazy">
									<span class="swiper-lazy-preloader"></span>
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 6</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{> footer }}