{{> header title="Статья"}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Статья</li>
    </ul>
</div>

<div class="content">
	<div class="content__container container">

		<div class="content__inner">
			<p class="content__main-img">
				<img src="assets/img/content/content_1.jpg" alt="alt" class="img-responsive">
				<span class="content__date date">06 май</span>
			</p>
			<p>
				<span class="tag">#Споты</span>
				<span class="tag">#2020</span>
			</p>
			<h2>Серфинг в России: Где ловить волну?</h2>
			<p>Ловить волну по-русски — как это? Серфинг в России — это калька с заокеанской экстремальной забавы или же увлечение с национальным акцентом? В целом, нет никакой разницы, где стоять на доске — рядом с Сочи или в акватории Бали. Но все же российские климатические условия подразумевают некоторые особенности.</p>
			<p>Еще совсем недавно на вопросы «Есть ли жизнь на Марсе?» и «Есть ли серфинг в России?» значительная часть жителей нашей страны ответила бы одинаково: «Теоретически — да». Слишком устойчив стереотип, что серфингом занимаются исключительно на далеких теплых заморских берегах…</p>
			<p>Но те, для кого серфинг — это смысл жизни, а не модная забава, точно знают, что в стране пятнадцати морей и трех океанов серфинг есть! И уже очень давно.</p>
			<p>О том, что катание на доске давно перестало быть просто экстремальным хобби, говорит тот факт, что в 2015 году серфинг стал в России самостоятельным видом спорта, за который теперь будут давать разряды и звания. Более того, организаторы Олимпийских игр-2020, местом проведение которых станет Токио, внесли его в шорт-лист рекомендованных видов спорта. Уже в 2016 году станет окончательно известно, смогут ли серферы бороться за олимпийское «золото»? В Российской федерации серфинга убеждены, что наши спортсмены смогут представить русский серфинг на достойном уровне.</p>
			<p>&nbsp;</p>
			<h2>Калининград</h2>
			<p>
				<img src="assets/img/content/content_2.jpg" alt="alt" class="img-responsive">
			</p>
			<p>Русский серфинг в центре Европы — это, конечно же, Калининград. Волны здесь регулярные, но не всегда стабильные. Рабочие споты: областной город Зеленоградск и город-курорт Пионерский.</p>
			<p>Температура воды балтийских вод в летнее время — около 22 градусов, а зимой градусник показывает 1-3 градуса выше нуля. Оптимальный период для катания — лето и вся осень. Кстати, только ветреной осенью Балтика радует поклонников серфинга неплохими штормовыми волнами (свеллами). Если обстоятельства сложатся удачно, можно поймать маленькую, но «трубу».</p>
			<p>&nbsp;</p>
			<h2>Cанкт-Петербург</h2>
			<p>
				<img src="assets/img/content/content_3.jpg" alt="alt" class="img-responsive">
			</p>
			<p>Питер давно занимает топовые позиции среди популярных для серфинга мест. Но это обусловлено сугубо удобным месторасположением, так как исключительным качеством волн Балтийское море не отличается (как и в Калининграде). Первые серферы появляются на Финском заливе, когда исчезают последние льдины, и до самых заморозков покорители волн не покидают его акваторию.</p>
			<p>Споты для серфинга в пригородах Питера — это поселок Солнечное, более подходящий для начинающих, и мыс Флотский, где волны рассчитаны на опыт и определенный навык спортсменов. Летняя температура воды +17 градусов, зимняя опускается до -2 градусов.</p>
			<p>&nbsp;</p>
			<h2>Черноморское побережье</h2>
			<p>Теплое Черное море — это места для серфинга в России, максимально приближенные к стереотипному восприятию этого вида отдыха: солнечные пляжи и практически круглогодичная возможность кататься на доске.</p>
			<p>&nbsp;</p>
			<h2>Сочи</h2>
			<p>
				<img src="assets/img/content/content_4.jpg" alt="alt" class="img-responsive">
			</p>
			<p>Серфинг в Сочи — это «Хоста-Рика». Поселок Хоста (район Большого Сочи) считается лучшим спотом в этой части Черноморского побережья. Его отличают разнообразные волны, которые одинаково удобны и для тех, кто впервые встал на доску, и для тех, кто имеет за плечами множество побед над водной стихией. Довольно развитая инфраструктура и клуб любителей серфинга, которому без малого двадцать лет, ставят Сочи на первое место в списке приоритетных мест для катания в России.</p>
		</div>

		<div class="content__share-section share-section">
			<span class="share-section__title">Интересная статья? Поделись!</span>
			<ul class="share-section__links">
				<li class="share-section__item">
					<a href="https://www.facebook.com/sharer/sharer.php?url=https://www.facebook.com/whsurfing" class="share-section__link" target="_blank" rel="noreferrer">
						<svg class="share-section__icon">
							<use href="assets/img/svg-sprite/sprite.svg#fb"></use>
						</svg>
					</a>
				</li>
				<li class="share-section__item">
					<a href="#" class="share-section__link" target="_blank" rel="noreferrer">
						<svg class="share-section__icon">
							<use href="assets/img/svg-sprite/sprite.svg#inst"></use>
						</svg>
					</a>
				</li>
				<li class="share-section__item">
					<a href="http://vk.com/share.php?url=https://vk.com/club92259041" class="share-section__link" target="_blank" rel="noreferrer">
						<svg class="share-section__icon">
							<use href="assets/img/svg-sprite/sprite.svg#vk"></use>
						</svg>
					</a>
				</li>
				<li class="share-section__item">
					<a href="#" class="share-section__link" target="_blank" rel="noreferrer">
						<svg class="share-section__icon">
							<use href="assets/img/svg-sprite/sprite.svg#telegram"></use>
						</svg>
					</a>
				</li>
				<li class="share-section__item">
					<button class="share-section__link copy-to-clipboard" type="button">
						<svg class="share-section__icon">
							<use href="assets/img/svg-sprite/sprite.svg#link"></use>
						</svg>
					</button>
				</li>
			</ul>
		</div>

	</div>
	<div class="content__similar similar-content blog">
		<div class="container">
			<h3 class="similar-content__title">Вас может заинтересовать</h3>
			<div class="similar-content__slider swiper">
				<div class="blog__items row swiper-wrapper">
					<div class="blog__item card-blog col-3 swiper-slide">
						<a href="#" class="card-blog__inner">
							<span class="card-blog__date date">02 март</span>
							<div class="card-blog__img-wrap dummy-bg">
								<img src="assets/img/content/blog_6.jpg" alt="alt" class="card-blog__img img-responsive">
							</div>
							<div class="card-blog__body">
								<div class="card-blog__title">Пошив купальников по вашим меркам</div>
								<div class="card-blog__text-wrap">
									<p>Мы знаем, что каждая девушка хочет быть неотразимой на пляже, на волне или просто на отдыхe. Но, выбрать купаль...</p>
								</div>
								<div class="card-blog__tags tags">
									<span class="card-blog__tag tags__tag tag">#Споты</span>
									<span class="card-blog__tag tags__tag tag">#2021</span>
								</div>
								<span class="card-blog__btn btn btn-accent"><span>Читать</span></span>
							</div>
						</a>
					</div>
					<div class="blog__item card-blog col-3 swiper-slide">
						<a href="#" class="card-blog__inner">
							<span class="card-blog__date date">30 февраль</span>
							<div class="card-blog__img-wrap dummy-bg">
								<img src="assets/img/content/blog_7.jpg" alt="alt" class="card-blog__img img-responsive">
							</div>
							<div class="card-blog__body">
								<div class="card-blog__title">5 интересных фактов о серфинге, про которые вы не знали</div>
								<div class="card-blog__text-wrap">
									<p>В 2011 году 13-кратным чемпионом по серфингу Гари Саафедром был установлен мировой рекорд: самое длительное официальн...</p>
								</div>
								<div class="card-blog__tags tags">
									<span class="card-blog__tag tags__tag tag">#Люди</span>
									<span class="card-blog__tag tags__tag tag">#2021</span>
								</div>
								<span class="card-blog__btn btn btn-accent"><span>Читать</span></span>
							</div>
						</a>
					</div>
					<div class="blog__item card-blog col-3 swiper-slide">
						<a href="#" class="card-blog__inner">
							<span class="card-blog__date date">09 апрель</span>
							<div class="card-blog__img-wrap dummy-bg">
								<img src="assets/img/content/blog_3.jpg" alt="alt" class="card-blog__img img-responsive">
							</div>
							<div class="card-blog__body">
								<div class="card-blog__title">Разновидности досок для серфинга</div>
								<div class="card-blog__text-wrap">
									<p>Серфинг является новым видом спорта для России, мест для занятий немного, но экстремальные спортсмены не унывают, пытаясь организовывать отды...</p>
								</div>
								<div class="card-blog__tags tags">
									<span class="card-blog__tag tags__tag tag">#Люди</span>
									<span class="card-blog__tag tags__tag tag">#2021</span>
								</div>
								<span class="card-blog__btn btn btn-accent"><span>Читать</span></span>
							</div>
						</a>
					</div>
					<div class="blog__item card-blog col-3 swiper-slide">
						<a href="#" class="card-blog__inner">
							<span class="card-blog__date date">21 март</span>
							<div class="card-blog__img-wrap dummy-bg">
								<img src="assets/img/content/blog_5.jpg" alt="alt" class="card-blog__img img-responsive">
							</div>
							<div class="card-blog__body">
								<div class="card-blog__title">Серфер онлайн: 7 полезных сайтов для серферов</div>
								<div class="card-blog__text-wrap">
									<p>Предлагаем вашему вниманию несколько полезных порталов, которые пригодятся каждому серферу</p>
								</div>
								<div class="card-blog__tags tags">
									<span class="card-blog__tag tags__tag tag">#Люди</span>
									<span class="card-blog__tag tags__tag tag">#2021</span>
								</div>
								<span class="card-blog__btn btn btn-accent"><span>Читать</span></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{{> footer }}