{{> header title="Сертификаты"}}

<div class="container container-md">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Сертификаты</li>
    </ul>
</div>

<div class="cabinet">
	<div class="container container-md">

		<div class="page-headline row">
			<div class="page-headline__captions col-md-12">
				<h2 class="page-headline__title page-title">Личные данные</h2>
			</div>
		</div>

		<div class="cabinet__row">
			<aside class="cabinet__col cabinet__aside aside-cabinet">
				<button class="aside-cabinet__menu-toggle menu-toggle btn btn-accent" type="button" data-micromodal-trigger="modal-menu">
					<span>
						Меню кабинета
						<span class="menu-toggle__hamburger hamburger hamburger--emphatic">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</span>
					</span>
				</button>
				<nav class="aside-cabinet__menu menu-cabinet">
					<ul class="menu-cabinet__list">
						<li class="menu-cabinet__item">
							<a href="cabinet-orders.html" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#folder"></use>
								</svg>
								Мои заказы
							</a>
						</li>
						<li class="menu-cabinet__item active">
							<a href="cabinet-personal.html" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#user"></use>
								</svg>
								Личные данные
							</a>
						</li>
						<li class="menu-cabinet__item">
							<a href="#" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#switches"></use>
								</svg>
								Управление подписками
							</a>
						</li>
						<li class="menu-cabinet__item">
							<a href="cabinet-password.html" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#key"></use>
								</svg>
								Изменить пароль
							</a>
						</li>
						<li class="menu-cabinet__item">
							<a href="#" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#settings"></use>
								</svg>
								Настройки
							</a>
						</li>
						<li class="menu-cabinet__item">
							<a href="#" class="menu-cabinet__link">
								<svg class="menu-cabinet__icon">
									<use href="assets/img/svg-sprite/sprite.svg#logout"></use>
								</svg>
								Выйти из кабинета
							</a>
						</li>
					</ul>
				</nav>
			</aside>
			<div class="cabinet__col cabinet__content">
				<form class="cabinet__form form-cabinet readonly" action="/cabinet/personal_data_save" method="post">
					<div class="form-cabinet__controls row">
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="text" class="control-field__control control" id="cabinet_last_name" value="Гаврилова" disabled name="last_name" required>
								<label for="cabinet_last_name" class="control-field__label control-label"><span>Фамилия<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="text" class="control-field__control control" id="cabinet_first_name" value="Александра" disabled name="first_name" required>
								<label for="cabinet_first_name" class="control-field__label control-label"><span>Имя<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="text" class="control-field__control control" id="cabinet_surname" value="Сергеевна" disabled name="surname" required>
								<label for="cabinet_surname" class="control-field__label control-label"><span>Отчество<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="text" class="control-field__control control date-mask" id="cabinet_birth_date" name="birth_date" placeholder="дд.мм.гггг" value="дд.мм.гггг" data-slots="дмг" disabled required>
								<label for="cabinet_birth_date" class="control-field__label control-label"><span>Дата рождения<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="tel" class="control-field__control control phone-mask" id="cabinet_phone" value="8 (800) 511 36 39" disabled name="phone" required>
								<label for="cabinet_phone" class="control-field__label control-label"><span>Номер телефона<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
						<div class="form-cabinet__col col-lg-4 col-sm-6">
							<div class="form-cabinet__control-field control-field control-field_js control-field_read-only">
								<input type="email" class="control-field__control control" id="cabinet_email" value="Destro729@gmail.com" disabled name="email" required>
								<label for="cabinet_email" class="control-field__label control-label"><span>E-mail<span class="color-danger">*</span></span></label>
							</div>
							<button class="form-cabinet__edit-field edit-field" type="button"></button>
						</div>
					</div>
					<div class="form-cabinet__footer">
						<button class="form-cabinet__submit form-cabinet__btn btn btn-accent" type="submit"><span>Сохранить</span></button>
						<button class="form-cabinet__edit form-cabinet__btn btn btn-accent" type="button"><span>Редактировать</span></button>
						<button class="form-cabinet__cancel form-cabinet__btn btn btn-default-accent" type="reset"><span>Отмена</span></button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-menu" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-menu-title">
			<div class="mm-modal__content modal modal-menu">
	
				<header class="modal__header header-modal">
					<div class="header-modal__container container">
						<h2 class="header-modal__title modal__title" id="modal-menu-title">Меню кабинета</h2>
						<button class="header-modal__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
							<svg>
								<use href="{{assets}}/img/svg-sprite/sprite.svg#close"></use>
							</svg>
						</button>
					</div>
				</header>
	
				<div class="modal__body body-modal" id="modal-menu-content">
					<div class="body-modal__container container">

					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

{{> footer }}