{{> header title="Доставка и оплата"}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Доставка и оплата</li>
    </ul>
</div>

<section class="section-faq">
	<div class="container">

		<div class="faq row">
            <div class="faq__tabs tabs-faq col-lg-4">
                <div class="tabs-faq__tab tab-faq active" data-tab-toggle="0">
                    <div class="tab-faq__content">
                        <h3 class="tab-faq__title">Москва и МО</h3>
                        <div class="tab-faq__text-wrap">
                            <p>доставка и примерка по Москве и московской области</p>
                        </div>
                    </div>
                    <div class="tab-faq__btn">
                        <span class="tab-faq__plus plus"></span>
                    </div>
                </div>
                <div class="tabs-faq__tab tab-faq" data-tab-toggle="1">
                    <div class="tab-faq__content">
                        <h3 class="tab-faq__title">Россия и мир</h3>
                        <div class="tab-faq__text-wrap">
                            <p>доставка лично в руки, в один из 1200 пунктов выдачи</p>
                        </div>
                    </div>
                    <div class="tab-faq__btn">
                        <span class="tab-faq__plus plus"></span>
                    </div>
                </div>
                <div class="tabs-faq__tab tab-faq" data-tab-toggle="2">
                    <div class="tab-faq__content">
                        <h3 class="tab-faq__title">Оплата</h3>
                        <div class="tab-faq__text-wrap">
                            <p>оплачивайте на сайте или другим<br> удобным для вас способом</p>
                        </div>
                    </div>
                    <div class="tab-faq__btn">
                        <span class="tab-faq__plus plus"></span>
                    </div>
                </div>
            </div>
            <div class="faq__content content-faq col-lg-8">
                <div class="page-headline row">
                    <div class="page-headline__captions col-md-12">
                        <h2 class="page-headline__title page-title">Доставка и оплата</h2>
                        <div class="page-headline__description">
                            <p>Обработка заказов осуществляется с 09:00 до 20:00 по МСК</p>
                        </div>
                    </div>
                </div>
                <div class="content-faq__blocks">
                    <div class="content-faq__block active" id="faqBlock0">
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Сколько стоит доставка с примеркой в пределах МКАД?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Возможна ли доставка в выходной?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Доставка в выходные платная, стоимость рассчитывается по запросу и зависит от цены сторонней курьерской службы. Возможность доставки в выбранный вами день должен подтвердить менеджер, после обработки заказа.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Возможна ли доставка с примеркой за МКАД и по Московской области?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <span class="color-danger font-bold">Внимание! В настроящее время примерка не возможна в связи с распространением COVID-19</span>
                                <p>
                                    Да, с 2020г. года мы осуществляем доставку с примеркой по Московской области.<br>
                                    Возможность доставки с примеркой в ваш город уточняйте у менеджера.<br>
                                    На доставку с примеркой мы отправляем <b>не более 3 моделей.</b><br>
                                    Вы выкупаете и оплачиваете только то что вам подошло, плюс стоимость доставки и примерки по тарифам курьерской службы
                                    Если товар не выкупается, оплачивается только стоимость доставки и примерка.<br>
                                    Обычно стоимость доставки и примерки по Московской области не превышает 500Р, более точную стоимость может рассчитать менеджер.<br>
                                    Оплата возможна картой и наличными средствами.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Подробнее о услуге примерки по Москве в пределах МКАД?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Мы привозим три изделия на ваш выбор. Время примерки 15 минут. Пожалуйста примерьте и проверьте товар до его оплаты.<br>
                                    В случае если Вам он не подошел - Вы сразу же можете от него отказаться, отдав курьеру.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Возврат купальника после покупки?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Уважаемые клиенты, согласно постановления Правительства РФ от 19.01.1998 N 55 купальники входят в «Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации».
                                    <br><br>
                                    Если вы сомневаетесь в выборе размера, мы можем сшить понравившийся купальник по вашим меркам. <a href="#">Подробнее</a>
                                    В случае если на вашем изделии обнаружен брак свяжитесь с нами любым удобным способом и мы обязательно решим данный вопрос.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Не нашли ответ на ваш вопрос?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-faq__block" id="faqBlock1">
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Сколько стоит доставка с примеркой в пределах МКАД? 2</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Сколько стоит доставка с примеркой в пределах МКАД?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-faq__block" id="faqBlock2">
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Сколько стоит доставка с примеркой в пределах МКАД? 3</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                        <div class="content-faq__item item-faq">
                            <button class="item-faq__button" type="button">
                                <span class="item-faq__title">Сколько стоит доставка с примеркой в пределах МКАД?</span>
                                <svg class="item-faq__arrow">
									<use href="/assets/img/svg-sprite/sprite.svg#arrow-down"></use>
								</svg>
                            </button>
                            <div class="item-faq__content">
                                <p>
                                    Стоимость доставки в пределах МКАД - 300р.<br>
                                    Дата возможной доставки с примеркой согласовывается с менеджером.<br>
                                    Доставка осуществляется в будние дни c 9-00 до 19-00.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</div>
</section>

{{> footer }}