{{> header title="Главная"}}

<section class="section-hero">
	<div class="hero-slider swiper slider slider_white">
		<div class="hero-slider__items swiper-wrapper">
			<div class="hero-slider__item hero swiper-slide" style="background-image: url(assets/img/content/bg_hero.jpg);">
				<div class="hero__container container">

					<div class="hero__row row">
						<div class="hero__col col-lg-4 col-md-6">
							<div class="hero__content">
								<h2 class="hero__title">Ocean</h2>
								<div class="hero__text-wrap">
									<p>с длинными рукавами</p>
								</div>
								<a href="#" class="hero__btn btn btn-outline-white"><span>Купить Ocean</span></a>
							</div>
						</div>
						<div class="hero__col hero__col_img col-lg-8 col-md-6">
							<div class="hero__img-wrap">
								<picture>
									<source srcset="assets/img/content/img_hero_mobile.png" media="(max-width: 992px)">
									<source srcset="assets/img/content/img_hero.png">
									<img src="assets/img/content/img_hero.png" alt="alt" class="hero__img img-responsive">
								</picture>
								<div class="hero__spots spots-hero">
									<div class="spots-hero__item item-spot" style="left: 25%; top: 34%;">
										<div class="item-spot__content">
											<p>Невидимые швы, идеально вписываются в дизайн</p>
										</div>
										<button class="item-spot__btn" type="button">
											<span class="item-spot__plus plus"></span>
										</button>
									</div>
									<div class="spots-hero__item item-spot" style="left: 67%; top: 42%;">
										<div class="item-spot__content">
											<p>Невидимые швы, идеально вписываются в дизайн</p>
										</div>
										<button class="item-spot__btn" type="button">
											<span class="item-spot__plus plus"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="hero-slider__item hero swiper-slide" style="background-image: url(assets/img/content/bg_hero.jpg);">
				<div class="hero__container container">

					<div class="hero__row row">
						<div class="hero__col col-lg-4 col-md-6">
							<div class="hero__content">
								<h2 class="hero__title">Ocean</h2>
								<div class="hero__text-wrap">
									<p>с длинными рукавами</p>
								</div>
								<a href="#" class="hero__btn btn btn-outline-white"><span>Купить Ocean</span></a>
							</div>
						</div>
						<div class="hero__col hero__col_img col-lg-8 col-md-6">
							<div class="hero__img-wrap">
								<picture>
									<source srcset="assets/img/content/img_hero_mobile.png" media="(max-width: 992px)">
									<source srcset="assets/img/content/img_hero.png">
									<img src="assets/img/content/img_hero.png" alt="alt" class="hero__img img-responsive">
								</picture>
								<div class="hero__spots spots-hero">
									<div class="spots-hero__item item-spot" style="left: 25%; top: 34%;">
										<div class="item-spot__content">
											<p>Невидимые швы, идеально вписываются в дизайн</p>
										</div>
										<button class="item-spot__btn" type="button">
											<span class="item-spot__plus plus"></span>
										</button>
									</div>
									<div class="spots-hero__item item-spot" style="left: 67%; top: 42%;">
										<div class="item-spot__content">
											<p>Невидимые швы, идеально вписываются в дизайн</p>
										</div>
										<button class="item-spot__btn" type="button">
											<span class="item-spot__plus plus"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="hero-slider__pagination-wrap container">
			<div class="hero-slider__pagination slider__pagination swiper-pagination"></div>
		</div>
	</div>
</section>

<section class="section-popular">
	<div class="container">

		<div class="headline">
			<div class="headline__captions">
				<h2 class="headline__title section-title">Самые популярные модели</h2>
				<div class="headline__description section-description">
					<p>то что выбирают наши прекрасные клиентки</p>
				</div>
			</div>
			<div class="headline__arrows-wrap">
				<div class="slider-products__arrows">
					<button class="slider-products__nav slider-products__nav_prev btn btn-outline-accent" type="button">
						<span>
							<svg class="slider-products__arrow">
								<use href="assets/img/svg-sprite/sprite.svg#arrow-left"></use>
							</svg>
						</span>
					</button>
					<button class="slider-products__nav slider-products__nav_next btn btn-outline-accent" type="button">
						<span>
							<svg class="slider-products__arrow">
								<use href="assets/img/svg-sprite/sprite.svg#arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
			</div>
			<div class="headline__btn-wrap">
				<a href="#" class="headline__btn btn btn-outline-accent"><span>Смотреть весь каталог</span></a>
			</div>
		</div>
		<div class="slider-products swiper slider">
			<div class="slider-products__items swiper-wrapper">
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/unity.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price card-product__price_new">6 000 руб.</div>
										<div class="card-product__old-price crossed">7 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry 2 строки Geometry 2 строки Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/product_2.png" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/product_3.png" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<span class="card-product__label label-product">-40%</span>
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/product_4.png" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/product_1.png" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section-reviews">
	<div class="container">

		<div class="headline">
			<div class="headline__captions">
				<h2 class="headline__title section-title">Нам доверяют</h2>
			</div>
			<div class="headline__btn-wrap">
				<a href="#" class="headline__btn btn btn-outline-accent"><span>Больше о компании</span></a>
			</div>
		</div>

		<div class="reviews-slider">
			<div class="reviews-slider__thumbs thumbs-reviews swiper slider">
				<div class="thumbs-reviews__items swiper-wrapper">
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_1_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_2_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_3_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_4_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_1_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
					<div class="thumbs-reviews__item thumb-review swiper-slide">
						<img src="assets/img/content/review_2_thumb.jpg" alt="alt" class="thumb-review__img img-responsive">
					</div>
				</div>
				<div class="thumbs-reviews__scrollbar swiper-scrollbar"></div>
			</div>
			<div class="reviews-slider__main main-reviews swiper slider">
				<div class="main-reviews__items swiper-wrapper">
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 1</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 2</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 3</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 4</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 5</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
					<div class="main-reviews__item item-review swiper-slide">
						<div class="item-review__row row">
							<div class="item-review__col col-md-6">
								<div class="item-review__img-wrap">
									<img src="assets/img/content/review_1_full.jpg" alt="alt" class="item-review__img img-responsive">
								</div>
							</div>
							<div class="item-review__col col-md-6">
								<div class="item-review__content-wrap">
									<div class="item-review__content">
										<div class="item-review__author">Регина Тодоренко 6</div>
										<div class="item-review__info info-review">
											<div class="info-review__item">
												<a href="#" class="info-review__link color-gradient-accent">@reginatodorenko</a>
											</div>
											<div class="info-review__item">
												<span class="info-review__text">8,5млн. подписчиков</span>
											</div>
										</div>
										<div class="item-review__text-wrap">
											<p>Блогер, телеведущая, певица, завезда передачи «Орел и Решка», молодая мама и просто суперхаризматичная персона, ловит волну вместе с Wave Harmony</p>
										</div>
										<div class="item-review__actions">
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Читать отзыв</a>
											<a href="#" class="item-review__btn color-gradient-accent underline-gradient-accent">Видео Регины</a>
										</div>
									</div>
									<img src="assets/img/content/light_1.png" alt="alt" class="item-review__light">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-benefits">
	<div class="container">

		<div class="row">
			<div class="col-lg-6">
				<h2 class="section-title">Лучшая одежда для серфинга и других водных видов спорта</h2>

				<img src="assets/img/icons/wave-lg.svg" alt="alt" class="wave img-responsive">

				<div class="benefits row">
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Сертифицированый товар</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Доставка по России и Миру</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Уникальный дизайн</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Солнцезащита SPF 50+</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Фурнируры от SBS</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
					<div class="benefits__item item-benefit col-sm-6">
						<h5 class="item-benefit__title">Пошив по вашим меркам</h5>
						<div class="item-benefit__text-wrap">
							<p>Все наши изделия сертифицированы и изготовлены в соответствии</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-benefits__img-wrap col-lg-5 offset-lg-1">
				<blockquote>
					<p>Люди, как волны — уникальны по своей природе.</p>
					<p>Наши лайкры производятся в ограниченном количестве, это помогает подчеркнуть вашу индивидуальность.</p>
					<p>Поймайте свою волну с купальниками Wave Harmony.</p>
				</blockquote>
				<img src="assets/img/content/girl.png" alt="alt" class="section-benefits__img img-responsive">
			</div>
		</div>

	</div>
</section>

<section class="section-instagram">
	<div class="container">

		<div class="headline">
			<div class="headline__captions">
				<h2 class="headline__title section-title">Нравятся яркие купальники<br> и вдохновляющие пейзажи?</h2>
				<div class="headline__description section-description">
					<p>Подписывайтесь на наш инстаграм, там все и даже больше</p>
				</div>
			</div>
			<div class="headline__btn-wrap">
				<a href="#" class="headline__btn btn btn-outline-accent"><span>Подписаться на инстаграм</span></a>
			</div>
		</div>

		<!-- <div class="grid">
			<div class="grid__item">
				<a href="assets/img/content/inst_1.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_1.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_2.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_2.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_12.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_4.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_4.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_5.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_5.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_6.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_6.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_7.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_7.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_12.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_8.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_8.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_9.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_9.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_10.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_10.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_11.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_11.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_12.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
			<div class="grid__item">
				<a href="assets/img/content/inst_8.jpg" class="grid__link" data-gallery="gallery">
					<img src="assets/img/content/inst_8.jpg" alt="alt" class="grid__img img-responsive">
					<span class="grid__text">Увеличить +</span>
				</a>
			</div>
		</div> -->

		<div class="grid">
			<a href="assets/img/content/inst_1.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_1.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_2.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_2.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_12.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_4.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_4.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_5.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_5.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_6.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_6.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_7.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_7.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_12.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_8.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_8.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_9.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_9.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_10.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_10.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_11.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_11.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_12.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_12.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
			<a href="assets/img/content/inst_8.jpg" class="grid__item" data-gallery="gallery">
				<img src="assets/img/content/inst_8.jpg" alt="alt" class="grid__img img-responsive">
				<span class="grid__text">Увеличить +</span>
			</a>
		</div>

	</div>
</section>

{{> footer }}