{{> header title="Каталог"}}

<div class="container container-md">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Каталог</li>
    </ul>
</div>

<div class="container">
	<div class="message message-page">
		<h2 class="message__title message-page__title">Заказ №2650</h2>
		<div class="message__text-wrap message-page__text-wrap">
			<p>Спасибо за ваш заказ, наши менеджеры свяжутся с вами в ближайшее время для уточнения деталей</p>
		</div>
		<svg class="message__icon message-page__icon">
			<use href="/{{assets}}/img/svg-sprite/sprite.svg#complete"></use>
		</svg>
		<a href="index.html" class="message__btn message-page__btn btn btn-success"><span>Вернуться на главную</span></a>
	</div>
</div>

{{> footer }}