{{> header title="Каталог"}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Каталог</li>
    </ul>
</div>

<section class="section-product">
	<div class="container">

		<div class="product">
			<div class="product__row row">
				<div class="product__col product__content content-product">
					<div class="content-product__slider slider-product swiper slider">
						<div class="slider-product__items swiper-wrapper">
							<a href="assets/img/content/kombinezon-whale-shark_220126215903.jpg" class="slider-product__item item-slider-product dummy-bg swiper-slide">
								<img src="assets/img/content/product_slider_1.jpg" alt="alt" class="item-slider-product__img img-responsive">
							</a>
							<a href="assets/img/content/kombinezon-whale-shark_220126220005.jpg" class="slider-product__item item-slider-product dummy-bg swiper-slide">
								<img src="assets/img/content/product_slider_2.jpg" alt="alt" class="item-slider-product__img img-responsive">
							</a>
							<a
								data-src="https://www.youtube.com/watch?v=3xazxNNYTBE"
								class="slider-product__item item-slider-product dummy-bg swiper-slide">
								<button class="item-slider-product__play play" type="button">
									<svg class="play__icon">
										<use href="assets/img/svg-sprite/sprite.svg#play"></use>
									</svg>
									<span class="play__text">Смотреть видео</span>
								</button>
							</a>
						</div>
						<div class="slider-product__arrows">
							<button class="slider-product__nav slider-product__nav_prev" type="button">
								<svg class="slider-product__arrow">
									<use href="assets/img/svg-sprite/sprite.svg#arrow-left"></use>
								</svg>
							</button>
							<button class="slider-product__nav slider-product__nav_next" type="button">
								<svg class="slider-product__arrow">
									<use href="assets/img/svg-sprite/sprite.svg#arrow-right"></use>
								</svg>
							</button>
						</div>
						<div class="slider-product__pagination slider__pagination swiper-pagination"></div>
						<span class="slider-product__label label-product">-40%</span>
						<label class="slider-product__wishlist-label wishlist-label">
							<span class="screen-reader-text">Geometry</span>
							<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
							<svg class="wishlist-label__icon">
								<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
							</svg>
						</label>
					</div>
					<div class="content-product__sections">
						<div class="content-product__section">
							<div class="content-product__accordions">
								<div class="content-product__accordion accordion-product active">
									<div class="accordion-product__header">
										<h2 class="accordion-product__title">Преимущества</h2>
										<span class="accordion-product__arrow">
											<svg>
												<use href="assets/img/svg-sprite/sprite.svg#arrow-down"></use>
											</svg>
										</span>
									</div>
									<div class="accordion-product__body">
										<div class="accordion-product__row row">
											<div class="accordion-product__content col-md-5">
												<ul class="list-unstyled">
													<li>
														<p>- Легко стирается, быстро сохнет</p>
													</li>
													<li>
														<p>- Не выгорает, не линяет,не теряет цвет</p>
													</li>
													<li>
														<p>- Позволяет коже дышать</p>
													</li>
													<li>
														<p>- Устойчив к износу, не мнется</p>
													</li>
												</ul>
											</div>
											<div class="accordion-product__content col-md-7">
												<ul class="list-unstyled">
													<li>
														<p>
															<img src="assets/img/icons/verified.svg" alt="alt" class="accordion-product__icon">
															Все купальники сертифицированы
														</p>
													</li>
													<li>
														<p>
															<img src="assets/img/icons/hanger.svg" alt="alt" class="accordion-product__icon">
															Примерка по Москве в пределах МКАД
														</p>
													</li>
													<li>
														<p>
															<img src="assets/img/icons/truck.svg" alt="alt" class="accordion-product__icon">
															Доставка по России и миру
														</p>
													</li>
													<li>
														<p>
															<img src="assets/img/icons/ruler.svg" alt="alt" class="accordion-product__icon">
															Пошив купальника по вашим меркам
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="content-product__accordion accordion-product">
									<div class="accordion-product__header">
										<h2 class="accordion-product__title">Описание</h2>
										<span class="accordion-product__arrow">
											<svg>
												<use href="assets/img/svg-sprite/sprite.svg#arrow-down"></use>
											</svg>
										</span>
									</div>
									<div class="accordion-product__body">
										<div class="accordion-product__row row">
											<div class="accordion-product__content col-md-12">
												<ul class="list-unstyled">
													<li>
														<p><b>Фасон</b> — слитный с рукавами</p>
													</li>
													<li>
														<p><b>Молния</b> — спереди</p>
													</li>
													<li>
														<p><b>Цвет</b> — синий, фиолетовый</p>
													</li>
													<li>
														<p><b>Габариты</b> — 20см*20см*15см (Д*Ш*В)</p>
													</li>
													<li>
														<p><b>Вес в упаковке</b> — 250 грамм</p>
													</li>
												</ul>
												<p>Раздельный купальник Isabel Neon - идеальный вариант для уверенных в себе девушек, которые давно освоили серфинг. Плотно прилегающий к телу материал, трусики с высокой талией и верх в виде топа позволяют легко и свободно двигаться. Купальник имеет цвета: яркий розовый, небесно-голубой и яркую салатовую окантовку. В такой экипировке вы будете чувствовать себя на высоте.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="content-product__accordion accordion-product">
									<div class="accordion-product__header">
										<h2 class="accordion-product__title">Состав и уход</h2>
										<span class="accordion-product__arrow">
											<svg>
												<use href="assets/img/svg-sprite/sprite.svg#arrow-down"></use>
											</svg>
										</span>
									</div>
									<div class="accordion-product__body">
										<div class="accordion-product__row row">
											<div class="accordion-product__content col-md-7">
												<ul class="list-unstyled">
													<li>
														<p>
															<img src="assets/img/icons/swimsuit.svg" alt="alt" class="accordion-product__icon">
															Лайкра - 60% | Полиэстр - 40%
														</p>
													</li>
													<li>
														<p>
															<img src="assets/img/icons/washing.svg" alt="alt" class="accordion-product__icon">
															Обязательная стирка после использования
														</p>
													</li>
													<li>
														<p>
															<img src="assets/img/icons/hand-washing.svg" alt="alt" class="accordion-product__icon">
															Ручная стирка в холодной воде
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="content-product__section">
							<div class="content-product__reviews reviews-product" id="reviewsProduct">
								<h2 class="reviews-product__title">Отзывы покупателей про Fancy</h2>
								<div class="reviews-product__leave-review leave-review">
									<span class="leave-review__text">Поделитесь вашим отзывом о данном товаре</span>
									<button class="leave-review__btn btn btn-accent" type="button" data-micromodal-trigger="modal-review">
										<span>Оставить отзыв</span>
									</button>
								</div>
								<div class="reviews-product__items">
									<article class="reviews-product__item item-review-product">
										<header class="item-review-product__header">
											<div class="item-review-product__info">
												<span class="item-review-product__author">Мария</span>
												<a href="#" class="item-review-product__link color-gradient-accent">@maevamasha</a>
											</div>
											<div class="item-review-product__rating rating rating_5">
												<div class="rating__stars">
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
												</div>
											</div>
										</header>
										<div class="item-review-product__body">
											<div class="item-review-product__text-wrap">
												<p>Заказала лайкру, осталась довольна не только качеством, но и крутым дизайном! Всем, кто зашёл на сайт, советую выбрать себе что-нибудь!)</p>
											</div>
											<div class="item-review-product__images">
												<a href="assets/img/content/product_review_1.jpg" class="item-review-product__image-link">
													<img src="assets/img/content/product_review_1.jpg" alt="alt" class="item-review-product__img img-responsive">
												</a>
												<a href="assets/img/content/product_review_2.jpg" class="item-review-product__image-link">
													<img src="assets/img/content/product_review_2.jpg" alt="alt" class="item-review-product__img img-responsive">
												</a>
											</div>
										</div>
									</article>
									<article class="reviews-product__item item-review-product">
										<header class="item-review-product__header">
											<div class="item-review-product__info">
												<span class="item-review-product__author">Елена</span>
												<a href="#" class="item-review-product__link color-gradient-accent">@</a>
											</div>
											<div class="item-review-product__rating rating rating_5">
												<div class="rating__stars">
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
												</div>
											</div>
										</header>
										<div class="item-review-product__body">
											<div class="item-review-product__text-wrap">
												<p>Получила купальник, понравился.<br> Цвет насыщенный, яркий. Ткань мягкая. Купальник удобный, приятный к телу. Заказала по своим параметрам и с короткими рукавами. Организация на 5+.</p>
											</div>
										</div>
									</article>
									<article class="reviews-product__item item-review-product">
										<header class="item-review-product__header">
											<div class="item-review-product__info">
												<span class="item-review-product__author">Дарья</span>
												<a href="#" class="item-review-product__link color-gradient-accent">@</a>
											</div>
											<div class="item-review-product__rating rating rating_5">
												<div class="rating__stars">
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
													<svg class="rating__star">
														<use href="assets/img/svg-sprite/sprite.svg#star"></use>
													</svg>
												</div>
											</div>
										</header>
										<div class="item-review-product__body">
											<div class="item-review-product__text-wrap">
												<p>Заказывала пошив по индивидуальным меркам. Отличное качество!!! Довольно плотный материал. Швы обработаны аккуратно. Купальник отправили в сумочке, также в качестве "комплимента от шефа" полодили резинку для волос в тон молнии;) была приятно удивлена, что у нас появилась такая фирма, в которой можно заказать купальник с учётом особенностей фигуры. Рекомендую!!!!</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form class="product__col product__info info-product sticky-bar" name="formProduct" action="/cart/add_to_cart">
					<div class="info-product__header">
						<div class="info-product__group">
							<h1 class="info-product__title">Fancy</h1>
							<div class="info-product__share share">
								<div class="share__items">
									<button class="share__item btn-share btn-share_link copy-to-clipboard" type="button">
										<svg class="btn-share__icon">
											<use href="assets/img/svg-sprite/sprite.svg#link-alt"></use>
										</svg>
									</button>
									<a href="https://www.facebook.com/sharer/sharer.php?url=https://www.facebook.com/whsurfing" class="share__item btn-share btn-share_fb" target="_blank" rel="noreferrer">
										<svg class="btn-share__icon">
											<use href="assets/img/svg-sprite/sprite.svg#fb"></use>
										</svg>
									</a>
									<a href="whatsapp://send?text=+7%20926%20722-47-41" class="share__item btn-share btn-share_what" target="_blank" rel="noreferrer">
										<svg class="btn-share__icon">
											<use href="assets/img/svg-sprite/sprite.svg#what"></use>
										</svg>
									</a>
									<a href="http://vk.com/share.php?url=https://vk.com/club92259041" class="share__item btn-share btn-share_vk" target="_blank" rel="noreferrer">
										<svg class="btn-share__icon">
											<use href="assets/img/svg-sprite/sprite.svg#vk"></use>
										</svg>
									</a>
								</div>
								<button class="share__btn btn-share" type="button">
									<svg class="btn-share__icon">
										<use href="assets/img/svg-sprite/sprite.svg#share"></use>
									</svg>
								</button>
							</div>

						</div>
						<div class="info-product__group">
							<div class="info-product__description">
								<p>Купальник с рукавами</p>
							</div>
							<span class="info-product__status status status_out-of-production">Снят с производства</span>
						</div>
						<div class="info-product__group">
							<div class="info-product__price-wrap">
								<p class="info-product__price"><span id="productPrice">5 400</span> руб.</p>
								<!-- <p class="info-product__price info-product__price_new"><span id="productPrice">5 400</span> руб.</p>
								<span class="info-product__old-price crossed" id="oldPriceContainer"><span id="oldPrice">6 200</span> руб.</span> -->
							</div>
							<a href="#reviewsProduct" class="info-product__rating rating rating_5">
								<div class="rating__stars">
									<svg class="rating__star">
										<use href="assets/img/svg-sprite/sprite.svg#star"></use>
									</svg>
									<svg class="rating__star">
										<use href="assets/img/svg-sprite/sprite.svg#star"></use>
									</svg>
									<svg class="rating__star">
										<use href="assets/img/svg-sprite/sprite.svg#star"></use>
									</svg>
									<svg class="rating__star">
										<use href="assets/img/svg-sprite/sprite.svg#star"></use>
									</svg>
									<svg class="rating__star">
										<use href="assets/img/svg-sprite/sprite.svg#star"></use>
									</svg>
								</div>
								<span class="rating__count">(7)</span>
							</a>
						</div>
					</div>
					<a href="#" class="info-product__to-top to-top">
						<span class="to-top__text color-gradient-accent">Наверх</span>
						<svg class="to-top__arrow">
							<use href="assets/img/svg-sprite/sprite.svg#arrow-down"></use>
						</svg>
					</a>
				</form>
			</div>
		</div>

	</div>
</section>

<section class="section-similar-products">
	<div class="container">

		<div class="page-headline row">
			<div class="page-headline__captions col-md-12">
				<h2 class="page-headline__title page-title">Вас может заинтересовать</h2>
			</div>
		</div>

		<div class="slider-products swiper slider">
			<div class="slider-products__items swiper-wrapper">
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/unity.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<span class="card-product__label label-product">-40%</span>
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/dakota-black.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price card-product__price_new">6 000 руб.</div>
										<div class="card-product__old-price crossed">7 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/victoria.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/kupalnik-c-rukavami-skate.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-products__item swiper-slide">
					<div class="card-product">
						<div class="card-product__inner">
							<label class="card-product__wishlist-label wishlist-label">
								<span class="screen-reader-text">Geometry</span>
								<input type="checkbox" class="wishlist-label__input hidden" name="product_wishlist" value="pr155">
								<svg class="wishlist-label__icon">
									<use href="assets/img/svg-sprite/sprite.svg#heart"></use>
								</svg>
							</label>
							<a href="#" class="card-product__img-wrap dummy-bg">
								<img data-src="assets/img/content/kupalnik-dlya-serfinga-banny_200124222600.jpg" alt="alt" class="card-product__img img-responsive swiper-lazy">
								<div class="swiper-lazy-preloader"></div>
							</a>
							<div class="card-product__body">
								<div class="card-product__content">
									<div class="card-product__price-wrap">
										<div class="card-product__price">6 000 руб.</div>
									</div>
									<a href="#" class="card-product__title">Geometry</a>
									<div class="card-product__attributes attributes">
										<ul class="attributes__list">
											<li>XS</li>
											<li>S</li>
											<li>M</li>
											<li>L</li>
											<li>По меркам</li>
										</ul>
									</div>
								</div>
								<div class="card-product__reveal">
									<a href="#" class="card-product__btn btn btn-accent"><span>Купить</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<div class="mm-modal" id="modal-table" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-table-title">
			<div class="mm-modal__content modal modal-content scrollbar-accent">
	
				<header class="modal__header header-modal">
					<div class="header-modal__container container">
						<h2 class="header-modal__title modal__title" id="modal-table-title">Размерная таблица</h2>
						<button class="header-modal__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
							<svg>
								<use href="assets/img/svg-sprite/sprite.svg#close"></use>
							</svg>
						</button>
					</div>
				</header>
	
				<div class="modal__body body-modal" id="modal-table-content">
					<div class="body-modal__container container">
						<div class="modal__content">
							<div class="modal__group">
								<div class="sizing-table-wrap">
									<table class="sizing-table">
										<thead>
											<tr>
												<th>Россий­ский</th>
												<th>Между­народный</th>
												<th>Грудь (см)</th>
												<th>Талия (см)</th>
												<th>Бедра (см)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>40/42</td>
												<td>XS</td>
												<td>80-84</td>
												<td>60-65</td>
												<td>85-90</td>
											</tr>
											<tr>
												<td>42/44</td>
												<td>S</td>
												<td>84-86</td>
												<td>65-68</td>
												<td>91-95</td>
											</tr>
											<tr>
												<td>44/46</td>
												<td>M</td>
												<td>89-91</td>
												<td>68-74</td>
												<td>95-100</td>
											</tr>
											<tr>
												<td>46/48</td>
												<td>L</td>
												<td>94-100</td>
												<td>74-80</td>
												<td>100-110</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal__group">
								<p class="color-highlighted text-center">Если ваш рост выше 175 см, выбирайте + 1 размер.</p>
							</div>
							<div class="modal__group modal__group_spacing-lg">
								<div class="sizing-instructions">
									<div class="sizing-instructions__img-wrap">
										<img src="assets/img/content/sizing-instructions.png" alt="alt" class="sizing-instructions__img img-responsive">
									</div>
									<div class="sizing-instructions__content">
										<ul class="sizing-instructions__list">
											<li class="sizing-instructions__item">
												<span class="sizing-instructions__title">Грудь</span>
												<p>Спереди лента должна проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, а сзади обхватывать лопатки.</p>
											</li>
											<li class="sizing-instructions__item">
												<span class="sizing-instructions__title">Грудь</span>
												<p>Спереди лента должна проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, а сзади обхватывать лопатки.</p>
											</li>
											<li class="sizing-instructions__item">
												<span class="sizing-instructions__title">Грудь</span>
												<p>Спереди лента должна проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, а сзади обхватывать лопатки.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal__group modal__group_spacing-md">
								<h2 class="modal__title">Возникли сложности с выбором?</h2>
								<p>Наши менеджеры с радостью помогут вам определиться с размером по телефону:</p>
								<a href="#" class="modal__link color-gradient-accent">8 (800) 511-36-39</a>
							</div>
							<div class="modal__group">
								<h2 class="modal__title">Пошив по вашим меркам</h2>
								<p>Если вы боитесь ошибиться размером, можете заказать индивидуальный пошив понравившегося купальника. Этот процесс обычно занимает 5 рабочих дня.</p>
								<a href="#" class="modal__link color-gradient-accent">Узнать подробнее</a>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-sizes-l" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-sizes-l-title">
			<div class="mm-modal__content modal modal-blocks modal-blocks_subscribe scrollbar-accent">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-sizes-l-content">
					<div class="body-modal__container container">
						<div class="modal-blocks__row">
							<div class="modal-blocks__content-wrap">
								<div class="modal-blocks__content">
									<h2 class="modal-blocks__title" id="modal-sizes-l-title">Подпишитесь на отсутствующий размер: L - 48</h2>
									<div class="modal-blocks__text-wrap">
										<p>Как только товар в этом размере снова появится в продаже, мы уведомим вас</p>
									</div>
									<form class="form-modal" name="formSizesL">
										<div class="form-modal__controls">
											<input type="hidden" name="type" value="product">
											<input class="hidden" type="radio" name="size[]" value="401" checked>
											<div class="form-modal__control-field control-field control-field_js">
												<input type="email" class="control-field__control control" id="email_input_sizes" name="email" required>
												<label for="email_input_sizes" class="control-field__label control-label"><span>Введите ваш E-mail</span></label>
											</div>
										</div>
										<div class="form-modal__btn-wrap">
											<button class="form-modal__btn modal__btn btn btn-accent" type="submit"><span>Подписаться</span></button>
										</div>
									</form>
								</div>
							</div>
							<div class="modal-blocks__img-wrap">
								<img src="assets/img/content/ic_comment.png" alt="alt" class="modal-blocks__img img-responsive">
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-sizes-success" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-sizes-success-title">
			<div class="mm-modal__content modal modal-blocks modal-blocks_message">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-sizes-success-content">
					<div class="body-modal__container container">
						<div class="modal-blocks__img-wrap">
							<img src="assets/img/content/hand.png" alt="alt" class="modal-blocks__img img-responsive">
						</div>
						<div class="modal-blocks__content-wrap">
							<div class="modal-blocks__content">
								<h2 class="modal-blocks__title" id="modal-sizes-success-title">Готово!</h2>
								<div class="modal-blocks__text-wrap">
									<p>когда размер снова будет в наличии, мы отправим письмо на ваш E-mail</p>
								</div>
								<div class="modal-blocks__btn-wrap">
									<button class="modal-blocks__btn modal__btn btn btn-accent" type="button" data-micromodal-close aria-label="Close this dialog window"><span>Вернуться к покупкам</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal mm-modal_let-grow" id="modal-review" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-review-title">
			<div class="mm-modal__content modal modal-review scrollbar-accent">
	
				<header class="modal__header header-modal">
					<div class="header-modal__container container">
						<h2 class="header-modal__title modal__title" id="modal-review-title">Оставить отзыв</h2>
						<button class="header-modal__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
							<svg>
								<use href="assets/img/svg-sprite/sprite.svg#close"></use>
							</svg>
						</button>
					</div>
				</header>
	
				<div class="modal__body body-modal" id="modal-review-content">
					<div class="body-modal__container container">
						<form class="form-review" method="post" action="/setcomment" enctype="multipart/form-data" name="formReview">
							<div class="form-review__files-input files-input">
								<label for="commentPhotos" class="files-input__selector files-selector">
									<span class="files-selector__item item-file">
										<img src="assets/img/icons/photo.svg" alt="alt" class="item-file__icon">
									</span>
									<input class="files-selector__input hidden" type="file" name="comment_photo" id="commentPhotos" multiple accept="image/*">
									<span class="files-selector__text color-gradient-accent">+ Фото</span>
								</label>
								<div class="files-input__items">
									<!-- <div class="files-input__item item-file">
										<img src="assets/img/content/review-thumb-1.jpg" alt="alt" class="item-file__img img-responsive">
										<button class="item-file__delete" type="button">
											<svg class="item-file__delete-icon">
												<use href="assets/img/svg-sprite/sprite.svg#close"></use>
											</svg>
										</button>
									</div> -->
								</div>
							</div>
							<div class="form-review__body">
								<div class="form-review__control-field control-field control-field_js">
									<input type="text" class="control-field__control control" id="comment_name" name="comment_name" required>
									<label for="comment_name" class="control-field__label control-label"><span>Имя<span class="color-danger">*</span></span></label>
								</div>
								<div class="form-review__control-field control-field control-field_js">
									<input type="email" class="control-field__control control" id="comment_mail" name="comment_mail">
									<label for="comment_mail" class="control-field__label control-label"><span>E-mail</span></label>
								</div>
								<div class="form-review__control-field control-field control-field_js">
									<input type="text" class="control-field__control control" id="comment_insta" name="comment_insta">
									<label for="comment_insta" class="control-field__label control-label"><span>Instagram</span></label>
								</div>
								<div class="form-review__control-field control-field">
									<textarea name="comment_question" class="form-review__textarea textarea" placeholder="Ваш комментарий тут..."></textarea>
								</div>
								<input type="hidden" name="product_id" value="118">
							</div>
							<div class="form-review__rating-control rating-control">
								<span class="rating-control__title">Ваша оценка</span>
								<div class="rating-control__items">
									<input id="comment_rating_5" type="radio" class="rating-control__item" name="comment_rating" value="5">
									<label for="comment_rating_5" class="rating-control__label">
										<svg class="rating-control__star">
											<use href="assets/img/svg-sprite/sprite.svg#star"></use>
										</svg>
									</label>
									<input id="comment_rating_4" type="radio" class="rating-control__item" name="comment_rating" value="4">
									<label for="comment_rating_4" class="rating-control__label">
										<svg class="rating-control__star">
											<use href="assets/img/svg-sprite/sprite.svg#star"></use>
										</svg>
									</label>
									<input id="comment_rating_3" type="radio" class="rating-control__item" name="comment_rating" value="3">
									<label for="comment_rating_3" class="rating-control__label">
										<svg class="rating-control__star">
											<use href="assets/img/svg-sprite/sprite.svg#star"></use>
										</svg>
									</label>
									<input id="comment_rating_2" type="radio" class="rating-control__item" name="comment_rating" value="2">
									<label for="comment_rating_2" class="rating-control__label">
										<svg class="rating-control__star">
											<use href="assets/img/svg-sprite/sprite.svg#star"></use>
										</svg>
									</label>
									<input id="comment_rating_1" type="radio" class="rating-control__item" name="comment_rating" value="1">
									<label for="comment_rating_1" class="rating-control__label">
										<svg class="rating-control__star">
											<use href="assets/img/svg-sprite/sprite.svg#star"></use>
										</svg>
									</label>
								</div>
							</div>
							<div class="form-review__btn-wrap">
								<button class="form-review__btn modal__btn btn btn-accent" type="submit"><span>Оставить отзыв</span></button>
							</div>
						</form>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal mm-modal_let-grow mm-modal_added-to-cart" id="modal-added-to-cart" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-added-to-cart-title">
			<div class="mm-modal__content modal modal-added-to-cart scrollbar-accent">
	
				<header class="modal__header header-modal">
					<div class="header-modal__container container">
						<button class="header-modal__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
							<svg>
								<use href="assets/img/svg-sprite/sprite.svg#close"></use>
							</svg>
						</button>
					</div>
				</header>
	
				<div class="modal__body body-modal" id="modal-added-to-cart-content">
					<div class="body-modal__container container">
						<div class="added-to-cart">
							<h2 class="added-to-cart__title modal__title" id="modal-added-to-cart-title">
								<svg class="added-to-cart__icon">
									<use href="assets/img/svg-sprite/sprite.svg#check-circle"></use>
								</svg>
								Товар был добавлен в корзину
							</h2>
							<div class="added-to-cart__card card-product">
								<div class="card-product__inner">
									<span class="card-product__label label-product">-40%</span>
									<a href="#" class="card-product__img-wrap dummy-bg">
										<img src="assets/img/content/unity.jpg" alt="alt" class="card-product__img img-responsive">
									</a>
									<div class="card-product__body">
										<div class="card-product__content">
											<a href="#" class="card-product__title">Geometry</a>
											<div class="card-product__attributes attributes">
												<ul class="attributes__list" id="addedToCartSizes">
													<!-- <li>XS</li>
													<li>42 RU</li> -->
												</ul>
											</div>
											<div class="card-product__price-wrap">
												<div class="card-product__price card-product__price_new">6 000 руб.</div>
												<div class="card-product__old-price crossed">6 000 руб.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="added-to-cart__footer">
								<a href="cart.html" class="added-to-cart__btn modal__btn btn btn-accent"><span>Перейти в корзину</span></a>
								<span class="added-to-cart__continue color-gradient-accent underline-gradient-accent" aria-label="Close modal" data-micromodal-close>Продолжить покупки</span>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-discount-success" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-discount-success-title">
			<div class="mm-modal__content modal modal-blocks modal-blocks_taller">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-discount-success-content">
					<div class="body-modal__container container">
						<div class="modal-blocks__row">
							<div class="modal-blocks__content-wrap">
								<div class="modal-blocks__content">
									<h2 class="modal-blocks__title" id="modal-discount-success-title">Скидка уже в пути!</h2>
									<div class="modal-blocks__text-wrap">
										<p>Промокод со скидкой отправлена на ваш E-mail, его можно применить при оформлении заказа</p>
									</div>
									<div class="modal-blocks__btn-wrap">
										<button class="modal-blocks__btn modal__btn btn btn-accent" type="button" data-micromodal-close aria-label="Close this dialog window"><span>Вернуться к покупкам</span></button>
									</div>
								</div>
							</div>
							<div class="modal-blocks__img-wrap">
								<img src="assets/img/content/discount.png" alt="alt" class="modal-blocks__img img-responsive">
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal mm-modal_let-grow" id="modal-discount" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-discount-title">
			<div class="mm-modal__content modal modal-blocks modal-blocks_subscribe scrollbar-accent">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-discount-content">
					<div class="body-modal__container container">
						<div class="modal-blocks__row">
							<div class="modal-blocks__content-wrap">
								<div class="modal-blocks__content">
									<h2 class="modal-blocks__title" id="modal-discount-title">Скидка на первый заказ</h2>
									<div class="modal-blocks__text-wrap">
										<p>Получите скидку 30% на вашу первую покупку (от 5000 рублей)</p>
									</div>
									<form class="form-modal" name="formDiscount">
										<div class="form-modal__controls">
											<div class="form-modal__control-field control-field control-field_js">
												<input type="email" class="control-field__control control" id="email" name="email" required>
												<label for="email" class="control-field__label control-label"><span>Введите ваш E-mail</span></label>
											</div>
										</div>
										<div class="form-modal__btn-wrap">
											<button class="form-modal__btn modal__btn btn btn-accent"><span>Получить скидку</span></button>
										</div>
										<div class="form-modal__radios">
											<label class="form-modal__radio radio">
												<input type="checkbox" class="radio__input" name="remember" checked>
												<span class="radio__content">
													<span class="radio__dot"></span>
													<span class="radio__label">Нажимая кнопку «Подписаться», вы даете согласие на <a href="#">обработку персональных данных</a></span>
												</span>
											</label>
										</div>
									</form>
								</div>
							</div>
							<div class="modal-blocks__img-wrap">
								<img src="assets/img/content/discount.png" alt="alt" class="modal-blocks__img img-responsive">
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-preloader" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true">
			<div class="mm-modal__content modal-preloader">

				<div class="swiper-lazy-preloader"></div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-error-size" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-error-size-title">
			<div class="mm-modal__content modal modal-message scrollbar-accent">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-error-size-content">
					<div class="body-modal__container container">
						<div class="message-modal">
							<h2 class="message-modal__title" id="modal-error-size-title">Произошла ошибка</h2>
							<div class="message-modal__text-wrap">
								<p>Не выбран размер</p>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

<div class="mm-modal" id="modal-review-success" aria-hidden="true">
	<div class="mm-modal__overlay" tabindex="-1" data-micromodal-close>

		<div class="mm-modal__wrapper" role="dialog" aria-modal="true" aria-labelledby="modal-review-success-title">
			<div class="mm-modal__content modal modal-blocks modal-blocks_taller scrollbar-accent">

				<button class="modal-blocks__close modal__close close" type="button" aria-label="Close modal" data-micromodal-close>
					<svg>
						<use href="assets/img/svg-sprite/sprite.svg#close"></use>
					</svg>
				</button>
	
				<div class="modal__body body-modal" id="modal-review-success-content">
					<div class="body-modal__container container">
						<div class="modal-blocks__row">
							<div class="modal-blocks__content-wrap">
								<div class="modal-blocks__content">
									<h2 class="modal-blocks__title" id="modal-review-success-title">Спасибо за ваш отзыв!</h2>
									<div class="modal-blocks__text-wrap">
										<p>В ближайшее время он будет опубликован</p>
									</div>
									<div class="modal-blocks__btn-wrap">
										<button class="modal-blocks__btn modal__btn btn btn-accent" type="button" data-micromodal-close aria-label="Close this dialog window"><span>Вернуться к покупкам</span></button>
									</div>
								</div>
							</div>
							<div class="modal-blocks__img-wrap">
								<img src="assets/img/content/discount.png" alt="alt" class="modal-blocks__img img-responsive">
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>

	</div>
</div>

{{> footer }}