{{> header title="Как выбрать размер"}}

<div class="container">
    <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li>Как выбрать размер</li>
    </ul>
</div>

<section class="section-sizing">
    <div class="container">

        <div class="page-headline row">
			<div class="page-headline__captions col-md-12">
				<h2 class="page-headline__title page-title">Как выбрать размер</h2>
				<div class="page-headline__description">
                    <p>Вам понадобится снять мерки сантиметровой лентой</p>
                </div>
			</div>
		</div>

        <div class="sizing-tips row">
            <div class="sizing-tips__card card-sizing col-lg-4 col-md-6">
                <div class="card-sizing__inner">
                    <div class="card-sizing__header">
                        <h3 class="card-sizing__title">Талия</h3>
                        <img src="assets/img/content/sizing_1.png" alt="alt" class="card-sizing__img img-responsive">
                    </div>
                    <div class="card-sizing__body">
                        <div class="card-sizing__text-wrap">
                            <p>Измеряем строго горизонтально по самой узкой части тела, проходя через самую выступающую точку живота.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sizing-tips__card card-sizing col-lg-4 col-md-6">
                <div class="card-sizing__inner">
                    <div class="card-sizing__header">
                        <h3 class="card-sizing__title">Грудь</h3>
                        <img src="assets/img/content/sizing_2.png" alt="alt" class="card-sizing__img img-responsive">
                    </div>
                    <div class="card-sizing__body">
                        <div class="card-sizing__text-wrap">
                            <p>Спереди лента должна проходить по наиболее выступающим точкам, сбоку через подмышечные впадины, а сзади обхватывать лопатки.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sizing-tips__card card-sizing col-lg-4 col-md-6">
                <div class="card-sizing__inner">
                    <div class="card-sizing__header">
                        <h3 class="card-sizing__title">Бедра</h3>
                        <img src="assets/img/content/sizing_3.png" alt="alt" class="card-sizing__img img-responsive">
                    </div>
                    <div class="card-sizing__body">
                        <div class="card-sizing__text-wrap">
                            <p>Лента должна находиться горизонтально, проходя посредине бедра и сзади по наиболее выступающим точкам ягодиц</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sizing-table-wrap">
            <h2 class="sizing-table-title">Размерная таблица купальников</h2>
            <table class="sizing-table">
                <thead>
                    <tr>
                        <th>Россий­ский</th>
                        <th>Между­народный</th>
                        <th>Грудь (см)</th>
                        <th>Талия (см)</th>
                        <th>Бедра (см)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>40/42</td>
                        <td>XS</td>
                        <td>80-84</td>
                        <td>60-65</td>
                        <td>85-90</td>
                    </tr>
                    <tr>
                        <td>42/44</td>
                        <td>S</td>
                        <td>84-86</td>
                        <td>65-68</td>
                        <td>91-95</td>
                    </tr>
                    <tr>
                        <td>44/46</td>
                        <td>M</td>
                        <td>89-91</td>
                        <td>68-74</td>
                        <td>95-100</td>
                    </tr>
                    <tr>
                        <td>46/48</td>
                        <td>L</td>
                        <td>94-100</td>
                        <td>74-80</td>
                        <td>100-110</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sizing-text-wrap">
            <p class="d-none d-lg-block d-xl-none">
                <span class="color-highlighted">При росте выше 175 см, выбирайте + 1 размер.   Девушка с параметрами 85×66×93 попадает в размер «S», но в случае роста выше175 см, необходимо выбратиь размер «M».</span>
            </p>
            <p class="d-lg-none d-xl-block">
                <span class="color-highlighted">Если ваш рост выше 175 см, выбирайте + 1 размер.</span>
            </p>
            <p>Также вы можете заказать индивидуальный пошив понравившегося купальника. Процесс обычно занимает 3-4 рабочих дня, а его стоимость +1500 рублей к стоимости модели.</p>
            <p>Если вознинут сложности с выбором, наши менеджеры с радостью помогут вам определеться с размером в телефоннорм режиме.</p>
        </div>

        <div class="sizing-banners row">
            <div class="sizing-banners__banner banner-sizing col-lg-4 col-md-6">
                <a href="#" class="banner-sizing__inner" style="background-image: url(assets/img/content/sizing_banner_1.jpg);">
                    <div class="banner-sizing__text-wrap">
                        <p>Узнайте как снять мерки для индивидуального пошива купальника!</p>
                    </div>
                    <span class="banner-sizing__btn btn btn-outline-white"><span>Узнать</span></span>
                </a>
            </div>
            <div class="sizing-banners__banner banner-sizing banner-sizing_reverse col-lg-4 col-md-6">
                <a href="#" class="banner-sizing__inner" style="background-image: url(assets/img/content/sizing_banner_2.jpg);">
                    <div class="banner-sizing__text-wrap">
                        <p>Новая<br> коллекция 2021<br> уже в каталоге!</p>
                    </div>
                    <span class="banner-sizing__btn btn btn-outline-white"><span>Смотреть</span></span>
                </a>
            </div>
            <div class="sizing-banners__banner banner-sizing col-lg-4 col-md-6">
                <a href="#" class="banner-sizing__inner" style="background-image: url(assets/img/content/sizing_banner_3.jpg);">
                    <div class="banner-sizing__text-wrap">
                        <p>Создай купальник<br> мечты в нашем удобном конструторе!</p>
                    </div>
                    <span class="banner-sizing__btn btn btn-outline-white"><span>Создать купальник</span></span>
                </a>
            </div>
        </div>

    </div>
</section>

{{> footer }}